# Go build artifacts
/jwt-authentication-app
/server/server
/client/client
*.exe
*.test
*.out

# SQLite files
/server/app.db
/server/app.db-shm
/server/app.db-wal

# Nuxt client artifacts
/client/node_modules
/client/.nuxt
/client/.output
